@font-face {
    font-family: "Zhiyong-Elegant";
    src: url('./Homework-font.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hljt";
    src: url('./云峰静龙行书.ttf');
    font-weight: normal;
    font-style: normal;
}