@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
    background-color: transparent
}
body {
    overflow: hidden;
}
#app {
    width: 100vw;
}

h1 {
    font-weight: normal;
}